<mat-table [dataSource]="games">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Genre Column -->
  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.genre}}
      <mat-icon aria-hidden="false" aria-label="Games genre" fontIcon="{{ element.genre | genre }}"></mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Platform Column -->
  <ng-container matColumnDef="platform">
    <mat-header-cell *matHeaderCellDef> Platform </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.platform}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="primary" aria-label="Add a new game" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
     <mat-cell *matCellDef="let game" class="action-column">
      <button mat-icon-button aria-label="Edit a game" (click)="onEdit(game)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Remove a game">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
