<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">
      Movies recomendation
    </mat-toolbar>

    <div *ngIf="games$ | async as games; else loading">
      <table mat-table [dataSource]="games" class="mat-elevation-z8">
         <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Genre Column -->
        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef> Genre </th>
          <td mat-cell *matCellDef="let element"> {{element.genre}}
            <mat-icon aria-hidden="false" aria-label="Games genre" fontIcon="{{ element.genre | genre }}"></mat-icon>
          </td>
        </ng-container>
        <!-- Platform Column -->
        <ng-container matColumnDef="platform">
          <th mat-header-cell *matHeaderCellDef> Platform </th>
          <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
  </ng-template>

  </mat-card-content>
</mat-card>
