<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
        Game details
    </mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name" #name>
          <mat-hint align="end">{{ name.value.length || 0 }}/100</mat-hint>
          @if (form.get('name')?.invalid) {
           <mat-error>{{errorMessage('name')}}</mat-error>
          }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Genre</mat-label>
          <mat-select formControlName="genre">
            <mat-option value="null"></mat-option>
            <mat-option value="Turn-based RPG">Turn-based RPG</mat-option>
            <mat-option value="FPS">FPS</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Platform</mat-label>
          <mat-select formControlName="platform">
            <mat-option value="null"></mat-option>
            <mat-option value="Playstation 1">Playstation 1</mat-option>
            <mat-option value="PC">PC</mat-option>
          </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
